@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

/* Shared styles */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    background: #FFF;
}

@media screen and (max-width: 600px) {

    .navbar-container{
        /* flex-direction: column;
        align-items: center;
         align-items: center;   */
         width: 375px;
         height: 64px;
         align-items: center;
         margin-bottom: 0;

     }
    .navbar-image{
        margin-right: 50px;
        width: 100%;
        margin-left: 20px;
    }
    .navbar-image img{
        width: 28.724px;
        height: 33.516px;
        object-fit: cover;

    }
    .navbar-image p{
        font-size: 21.543px;
    }
    
    .navbar-content{
        display: none;
        
    }
    .navbar-icon{
        display: contents;
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        width: 24px;
        height: 24px;

    }


    /* .banner-btn{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
    } */
    .banner{
        /* width: 335px;
        height: 483px;
        margin: 20px;
         */
         /* margin-right: 20px;
         margin-left: 20px;
         margin-top: 0; */
         align-items: center;
    
    }
    .banner img {
         width: 335px;
        height: 483px;
        object-fit: cover; 
        
    }
    .banner-title{
        font-size: 22px;
        bottom: 470px;
       
       

        
    }
    .banner-description{
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
        bottom: 460px;
        width: 304px;
        
    }
    .banner-btn{
        display: flex;
        flex-direction: column; 
        width: 287px;
        padding: 16px;
        align-items: center;
        gap: 16px;
        bottom: 450px;
        left: 6px;
       

        
    }
    .btn, #btn-span{
        width: 255px;
        height: 52px;

    }

    .tours{
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 450px;
       
        
        
    
    }

    .tours-image img{
        width: 335px;
        height: 342px;
        /* padding-left: 0px;
        /* margin-left: 10px; */
        /* margin-right: 50px; */ */
        /* align-items: center; */
        border-radius: 16px;
        width: auto;
       


    }

    .tours-content{
        width: 335px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .tours-image{
        width: 335px;
        width: auto;
        

    }
    .tours-btn{
        
    
        margin-left: 20px;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .destination-image{
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr); */
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .destination-image img{
        width: 335px;
        height: 175px;
        object-fit: cover;
    }

    .choose-description{
        margin-bottom: 48px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .choose-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 10px; */
    }
    .card1, .card2, .card3{
        width: 335px;
        height: 289px;
    }

    .newsletter-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }

    .sub-btn, .special-btn{
        width: 270px;
        padding-right: 140px;
        height: 40px;
    }
    hr{
        width: 270px;
    }
    .newsletter-image img{
        max-width: 90%;
        /* max-height: 300px; */
        object-fit: cover;
        margin-left: 25px;


    }
    .image-btn{
        width: 214px;
        height: 79px;
        position: relative;
        font-size: 15px;
        transform: rotate(-20deg);
        bottom: 130px; 
        left: 47%;
    }

    span{
        font-size: 21px;
    }
    .newsletter-title{
        margin-top: 0px;
        margin-bottom: 0;
    }

    .newsletter-content{
        padding-bottom: 10px;
        width: 90%;
    }

    .footer-img{
        padding-top: 30px;
    }
    
    .footer-description{
        margin-left: 30px;
        margin-right: 30px;
       
       
    }
    .packages-card{
        flex-direction: column;
        gap: 10px;
    }
    .packages-container{
        /* border: 2px solid red; */
        /* width: 1180px; */
        
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
       
        
    }

    .packages-card1 p{
        padding-left: 10px;
        padding-right: 10px;
    
    }
    
    .packages-card2 p{
        padding-left: 10px;
        padding-right: 10px;
        
    }

    .packages-card1{
        margin-left: 100px;
        
    }
    .packages-card2{
        margin-left: 100px;
    }

    .packages-btn{
        
        margin-top: 10px;
    }

    .deals-image-card1 img,.deals-image-card2 img,.deals-image-card3 img{
        width: 335px;
        height: 500px;
        object-fit: cover;

    }
    .deals-card1,.deals-card2,.deals-card3{
        width: 303px;
        height: 297px;

    }
    

}

    
