@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

/* Shared styles */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    background: #FFF;
}

     /* header section */
/* navbar styles */
.navbar-container{
    max-width: 1180px;
    /* height: 60px; */
    /* border: 2px solid blueviolet; */
    margin: 0 auto; 
    display: flex;
}

.navbar-image{
    /* border: 2px solid red;
    width: 50%;
    height: 60px; */
    display: flex;
    align-items: center;
    gap: 16px;
    width: 50%;
    /* border: 2px solid red; */
    margin-right: 350px;
}

.navbar-image img{
    width: 48px;
    height: 56px;
    object-fit: cover;
}
.navbar-image p{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.navbar-image span{
    color: #FF5400;
}
.navbar-content{
    /* border: 2px solid yellow; */
    width: 50%;
    /* justify-content: space-between; */
    gap: 44px;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.navbar-icon{
    display: none;
}
.navbar-content a{
    text-decoration: none;
    color:#424247;
    font-size: 18px;
}
.navbar-content span{
    color: #FF5400;
}

/* banner styles */
.banner{
    max-width: 1180px;
    height: 500px;
    /* margin: 0 auto;  */
    position: absolute;
    /* border: 2px solid blue; */
    text-align: center;
    /* padding: 0 auto;  */
    margin-left: 90px; 
}
.banner img{
    width: 1180px;
    height: 500px; 
    border-radius: 16px; 
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%); 
    
}

.banner-title{
    position: relative;
    bottom: 400px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    /* margin-top: 24px; */

}
.banner-description{
    position: relative;
    bottom: 376px;
    color: #FFF;
    text-align: center;
    line-height: 26px; /* 162.5% */
    margin-left: 287px;
    margin-right: 287px;
}
.banner-btn{
    position: relative;
    bottom: 328px;
    display: inline-flex;
    padding: 16px;
    /* align-items: flex-start; */
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}

.btn{
    background: #FFF;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    border-radius: 8px;
    text-align: start;
    border: none;
}

#btn-span{
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

/* tours styles */
.tours{
   /* margin-top: 520px;  */
   /* border: 2px solid red; */
   display: flex;
   max-width: 1180px;
   margin: 600px auto 0;
   
}
.tours-content{
    /* border: 2px solid blue; */
    width: 50%;
}
.tours-image{
    /* border: 2px solid green; */
    width: 50%;
    /* padding-left: 100px; */
    
}
.tours-image img{
    border-radius: 16px;
    padding-left: 50px;
}

.tours-content-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}
.tours-content h4, p, li{
    color: #5A5A5D;
} 
.tours-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 14px 35px;
    border: none;

}


/* destination-container styles */
.destination-container{
    text-align: center;
    /* max-width: 1180px; */
    /* border: 2px solid blueviolet; */
    max-width: 1180px;
    margin: 0 auto;
}
.destination-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
}
.destination-content{
    /* border: 2px solid red; */
}
.destination-image{
    /* border: 2px solid greenyellow; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.grid-item1,.grid-item2,.grid-item3,.grid-item4,.grid-item5,.grid-item6,.grid-item7{
    position: relative;
}
.maldives,.indonesia,.srilanka,.north-america,.kashmir,.bangladesh,.bandarban{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

.destination-image img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.grid-item1{
    grid-column: 1/span 6;
    /* grid-row: 1/span 1; */
} 

.grid-item2{
    grid-column: 7/span 6;
    /* grid-row: 1/span 1; */
}
.grid-item3{
    grid-column: 1/span 4;
}
.grid-item4{
    grid-column: 5/span 5;
}
.grid-item5{
    grid-column: 10/span 3;
}
.grid-item6{
    grid-column: 1/span 5;
}
.grid-item7{
    grid-column: 6/span 7;
}


/* choose-container */

.choose-container{
    /* border: 2px solid red; */
    max-width: 1180px;
    margin: 100px auto;
}
.choose-content{
    /* border: 2px solid blue; */
    text-align: center;
}
.choose-card{
    /* border: 2px solid greenyellow; */
}
.choose-title{
    color: #131318;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;
    padding-top: 0;
    margin-bottom: 24px;

}

.choose-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    margin-bottom: 48px;
    margin-left: 268px;
    margin-right: 268px;
}
.choose-card{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px; 
    width: 100%;
    
    
}
.card1, .card2, .card3{
    width: 543px;
    height: 284px; 
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 30px;
    padding-top: 30px;
}
.card2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    
}
.card1{
    grid-column: 1/span 6;
}
.card2{
    grid-column: 7/span 6;
}
.card3{
    grid-column: 4/span 4;
}

/* newsletter-container */
.newsletter-container{
    /* border: 2px solid blueviolet; */
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    gap: 24px;
    
}
.newsletter-content{
    border: 1px solid red;
    border-radius: 16px;
    width: 50%;
}
.newsletter-image{
    /* border: 2px solid blue; */
    /* width: 50%; */
}
.newsletter-image img{
    width: 672px;
    height: 422px;
    border-radius: 16px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */

}
.newsletter-title{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 308;

}
.newsletter-description{
    color: #5A5A5D;
    padding-left: 40px;
    padding-right: 84px;

}
hr{
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    border: none;
}

.newsletter-btn{
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* width: 393px;
    height: 170px */
    /* margin: 24px 20px 40px;  */
    align-items: center;
    

}
.sub-btn{
    width: 393px;
    height: 52px; 
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05); 
    color: rgba(19, 19, 24, 0.30);
    padding: 16px 250px 16px 20px;
    border: none;
    
}
.special-btn{
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 8px;
    width: 393px;
    height: 52px;
    border: none; 
}

.image-btn{
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400; 
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    bottom: 170px; 
    left: 935px;
    border: none;
} 

span{
    color: #FFF;
    font-size: 32px;
    font-weight: 800; 
} 

/* footer section style */
.footer-section{
    background: rgba(19, 19, 24, 0.05);
    height: 500px;
    text-align: center;

}
.footer-img{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 110px;
}
.footer-img img{
    object-fit: cover;
    width: 40px;
    height: 46px;
    padding-top: 30px;

}
.footer-title {
    color:#131318;
    font-size: 32px;
    font-weight: 800;

}
.footer-title span{
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
}

.footer-description{
    color: #5A5A5D;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 32px;
   
}
.footer-icon{
    display: inline-flex;
    gap: 30px;
    margin-bottom: 50px;

}
.copy{
    margin-top: 50px;
}

/* packages-container styles */

.packages-container{
    /* border: 2px solid red; */
    max-width: 1180px;
    margin: 0 auto 100px;
    text-align: center;
}
.packages-container h3{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}


.packages-card{
    /* border: 2px solid blue; */
    display: flex;
    text-align: center;
    gap: 150px;
    justify-content: center;
}
.packages-card1{
    /* border: 2px solid yellow; */
    width: 50%;
    border-radius: 16px;
    background-color: cadetblue;
}

.packages-card2{
    /* border: 2px solid green; */
    max-width: 50%;
    border-radius: 16px;
    background-color: aquamarine;
}

.packages-card1 p{
    padding-left: 70px;
    padding-right: 70px;

}

.packages-card2 p{
    padding-left: 70px;
    padding-right: 70px;
    
}

.packages-btn{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 20px 30px;
    margin-top: 30px;
}
 






